/* Герой */
.hero-title {
  color: var(--background-color);
  background-color: var(--primary-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

/* button */
.service {
  background-color: var(--accent-color);
  color: var(--background-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

/* заголовки */
.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* paragraph */
.paragraph-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.paragraph .title {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* command-list */
.command-person {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.command-list .title {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
