a {
  text-decoration: none;
}

li {
  list-style: none;
}

.web-link .link-mail {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.web-link .link-mail:hover,
.web-link .link-mail:focus {
  color: var(--accent-color);
}

.web-link .link-tel {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.web-link .link-tel:hover,
.web-link .link-tel:focus {
  color: var(--accent-color);
}
/* Герой */
.hero-title {
  color: ;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

/* button */
.service {
  background-color: var(--accent-color);
  color: var(--background-color);
}

/* section */
.section-title {
  color: var(--primary-text-color);
}

/* paragraph */
.paragraph .title {
  color: var(--title-text-color);
}

/* command-list */
.command-list .title {
  color: var(--title-text-color);
}

.accent-footer-logo {
  color: ;
  font-family: Raleway;
}

.address {
  color: ;
}

.footer-mail {
  color: ;
}

.web-link .footer-mail:hover,
.web-link .footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel {
  color: ;
}

.web-link .footer-tel:hover,
.web-link .footer-tel:focus {
  color: var(--accent-color);
}
